@keyframes foto_move{
    0%  {
        position: relative;
        left: 0px;
    }
    100%  {
        position: relative;
        left: 300px;
    }
}

section{
    padding-bottom: 50px;
}

section img{
    position: absolute;
    -webkit-filter: grayscale(90%);
}

section img:hover{
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    -webkit-filter: grayscale(0%);
}

.main_img{ 
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    -webkit-filter: grayscale(0%);
    cursor:pointer;
}

.main_img:hover{ 
    opacity: 1 !important;
}

#_1{
    opacity: 0.97;
    z-index: 99;
    width:  32%;
    left: 35%;
    top: 37vh;
}

#_2{
    opacity: 0.85;
    z-index: 98;
    width:  23%;
    left: 22%;
    top: 27vh;
}

#_3{
    opacity: 0.75;
    z-index: 97;
    width:  18%;
    left: 54%;
    top: 21.6vh;
}

#_4{
    opacity: 0.75;
    z-index: 96;
    left: 43%;
    top: 18.5vh;
    width:  14%;
}

#_5{
    opacity: 0.75;
    z-index: 95;
    width:  18%;
    left: 21%;
    top: 57vh;
}

#_6{
    opacity: 0.85;
    z-index: 98;
    width:  23%;
    left: 62%;
    top: 32.4vh;
}

#_7{
    opacity: 0.75;
    z-index: 97;
    width:  18%;
    left: 61%;
    top: 55.5vh;
}

#_8{
    opacity: 0.85;
    z-index: 94;
    width:  20%;
    left: 18%;
    top: 74vh;
}

#_9{
    opacity: 0.9;
    z-index: 98;
    width:  23%;
    left: 32%;
    top: 77vh;
}

#_10{
    opacity: 0.75;
    z-index: 97;
    left: 51%;
    top: 78.5vh;
    width:  15%;
}

#_11{
    opacity: 0.75;
    z-index: 94;
    left: 66%;
    top: 16.2vh;
    width:  16%;
}