section {
    margin-top: 55px;
    padding-bottom: 0px;
    padding-left: 9%;
    padding-top: 20px;
    min-height: 650px;  
}

article h2, h3 {
    text-align: center;
    margin: 0px 0px 0px 0px;
    color: Black;
    padding-top: 10px;
}

article h2 {
    font-size: 105%;
    font-family: "Karla";
}

article h3 {
    font-family: "Gentium Basic";
    font-size: 100%;
    font-weight: normal;
}