@font-face {
    font-family: 'lobster_1.0regular';
    src: url('../fonts/lobster-webfont.eot');
    src: url('../fonts/lobster-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobster-webfont.woff2') format('woff2'),
         url('../fonts/lobster-webfont.woff') format('woff'),
         url('../fonts/lobster-webfont.ttf') format('truetype'),
         url('../fonts/lobster-webfont.svg#lobster_1.0regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'news_cycleregular';
    src: url('../fonts/newscycle-regular-webfont.eot');
    src: url('../fonts/newscycle-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/newscycle-regular-webfont.woff2') format('woff2'),
         url('../fonts/newscycle-regular-webfont.woff') format('woff'),
         url('../fonts/newscycle-regular-webfont.ttf') format('truetype'),
         url('../fonts/newscycle-regular-webfont.svg#news_cycleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { 
    margin: 0px;
    padding: 0px;
}

#loading_bg {
    width: 100%;
    z-index: -1000;
}

#loadingBox {
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    background-color: hsla(100,100%,100%,0.85);
    left: 30%;
    width: 40%;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'news_cycleregular';
    color: Black;
    font-size: x-small;
    opacity: 0;
}

#loadingBox p {
    text-align: justify;
}

#loadingBox h3 {
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-style: inherit;
}

#loadingBox img{
    position: relative;
    left: 45%;
    width: 10%;
    padding-top: 5%;
    padding-bottom: 2%;
}

#loadingBox figcaption{
    font-size: xx-small;
    text-align: center;
}

header {
    margin: 0px 0px 0px 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
    font-family: 'Six Caps', sans-serif;
    letter-spacing: 0.2em;
}

#logo{
    width: 10vh;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

header hr, a{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
    color: inherit;
}

header a:visited {
    text-decoration: none;
    text-decoration-color: #fff
}

header h1 {
    margin: 0px 0px 0px 0px;
    color: White;
    font-size: 0em;
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-align: center;
    float: none;
    background-color: hsla(0,0%,0%,0.8);
    inline-box-align: last;
}

header #lang {
    position: fixed;
    right: 2vw;
    top: 3vh;
    height: 2.5vh;
    width: 4.5vh;  
}

header ul{
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: hsla(100,100%,100%,0.85);
}

header li{
    display: inline;
    margin: 0px 20px 0px 0px;
    padding: 0px 0px 0px 0px;
}

header li:hover{
    text-decoration: underline;
}

header #empty_bare{
    opacity: 0;
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#menu_list {
    
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    text-align: center;
}

#menu_list hr{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#menu {
    right: 100px;
}

footer {
    clear: both;
    font-family: 'news_cycleregular';
    background-color: hsla(0,0%,0%,0.8);
    text-align: center;
    color: White;
    font-size: x-small;
}

footer hr {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

footer img{
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
}