#siteUnderConstruction {
    z-index: 100;
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    border-style: solid;
    border-width: 1px;
    background-color: hsla(100,100%,100%,0.85);
    
    position: absolute;
    left: 30%;
    width: 40%;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'news_cycleregular';
    color: Black;
    font-size: small;
    text-align: center;
}

#siteUnderConstruction img{
    position: relative;
    left: 45%;
    width: 10%;
    padding-top: 5%;
    padding-bottom: 2%;
}

footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

button{
    font-family: 'news_cycleregular';
    color: Black;
    font-size: x-small;
    flex-align: center;
    margin-bottom: 15px;
    
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
}