section {
    margin-top: 140px;
    margin-bottom: 30px;
}

article h2, h3 {
    text-align: center;
    font-family: "Karla";
    margin: 0px 0px 0px 0px;
    color: Black;
    padding-top: 10px;
}

article h2 {
    font-size: 100%;
}

article h3 {
    font-size: 80%;
    color: #808080;
}

article p {
    text-align: center;
    line-height: 1.5em;
    padding-left: 20%;
    padding-right: 20%;
    color: #808080;
}

#to_model {
    padding-left: 25%;
    padding-right: 25%;
}