.photos {
    position: absolute;
    top: 0vh;
    height: 100vh;
    z-index: -10;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar { 
    display: none; 
}

#photoAlbum {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.first{
    left: -10vw;
}

input {
    padding: 0px 0px 0px 0px;
    margin: 5px 10px 0px 0px;
}

#_1 { background: url(../graphic/images/main/lookAtMe_3.jpg) no-repeat -9999px -9999px; }
#_2 { background: url(../graphic/images/main/lookAtMe_2.jpg) no-repeat -9999px -9999px; }
#_3 { background: url(../graphic/images/main/lookAtMe_1.jpg) no-repeat -9999px -9999px; }